{% comment %}
Variables used by this template:

gmaps_api_key
session_user
map_user

{% endcomment %}
<html>
<head>
<link href="static/main.css" rel="stylesheet" type="text/css">
<title>Foursquare Battle</title>


</head>

<!-- HEADER -->
<div id="header">
<div class="lfloat">
<a class="undecorated" href="/"><b>4mapper</b></a> - Mapping <a href="http://foursquare.com/">Foursquare</a>.
</div>

<div class="rfloat">
{% if not session_user %}
<form action="/authorize" method="POST">
Sign in with Foursquare to map your checkins:
<input class="button" type="submit" value="Sign in">
</form>
{% else %}
<form action="/toggle_public" method="POST">
<small>Your history is</small>
{% if session_user.public %}
<b>public</b>:
<input type="submit" value="Make it private"
{% else %}
<b>private</b>:
<input type="submit" value="Make it public"
{% endif %}
<input type="hidden" name="r" value="/">
</form>
{% endif %}
</div>
<div class="spacer"></div>
</div>

<div id="info_pane"></div>
<div id="error"></div>

<!-- CONTENT -->
<div id="content-container">
<div id="center" class="column">
Basic Functions</br>

<a href="/friends">Friends</a></br>
<a href="/nearby">Nearby Venues</a></br>
<a href="/checkins">Recent Checkins</a></br>
<a href="/check-in">Check In</a></br>
<a href="/history">History</a></br>
<a href="/user_detail">User Detail</a></br>

</div>
<div id="sidebar-left" class="column">
{% if not session_user %}
<p>
Use the "Sign in" button to see your data.
</p>

<p>
Once you've signed in, you can choose to let other people see your data.
</p>

<p>
Or maybe you just want to look at <a href="/users">someone else's</a> data.
</p>

{% else %}
<p>
Hello, {{session_user.name}}!<br>
<img src="{{session_user.picture}}" alt="{{session_user.name}}" title="{{session_user.name}}">
</p>

<p>
You can let other people see your data with the "Make it public" button.
</p>
<p>
If you change your mind after making it public, just use the "Make it private" button.
</p>

<p>
Or maybe you just want to look at <a href="/users">someone else's</a> data.
</p>

{% if not map_user %}
{% endif %}

{% endif %}
</div>
<div id="sidebar-right" class="column">
{% if map_user %}
<p>Showing checkins for {{map_user.name}}:<br>
<a href="http://foursquare.com/user/-{{map_user.uid}}"><img src="{{map_user.picture}}" alt="{{map_user.name}}" title="{{map_user.name}}" width="75" height="75"></a>
</p>

{% endif %}
</div>
</div>

<div id="footer">
<div class="lfloat">
By Derek Tumolo, with liberal copying from John Wiseman's <a href="http://4mapper.appspot.com/"> 4mapper </a>.  Uses <a href="http://code.google.com/appengine/">Google App Engine</a> and the <a href="http://groups.google.com/group/foursquare-api">Foursquare API</a>.  Having a problem?  <a href="mailto:djtumolo@gmail.com">Email me</a>.
</div>
{% if session_user %}
<div class="rfloat">
<a href="/logout">logout</a>
</div>
{% endif %}
&nbsp;
</div>
</body>
</html>
